<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim Berners-Lee</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                    <a href="/berners-lee">Tim Berners-lee</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Tim Berners-Lee</h1>
<article>
    <p>
        Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.

Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL (Uniform Resource Locator).

Es posible encontrar muchas de las ideas plasmadas por Berners-Lee en el proyecto Xanadú (que propuso Ted Nelson) y el memex (de Vannevar Bush).
    </p>
</article>
        </section>
        <aside>
            <img src="/img/Sir_Tim_Berners-Lee_(cropped).jpg" alt="Imagen de Tim Berners-Lee">
        </aside>
    </main>
    <footer>
        <section>
            <h3>Enlaces</h3>
            <ul>
                <li>
                    <a href="https://es.wikipedia.org/wiki/Tim_Berners-Lee">Wikipedia</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=OM6XIICm_qo">Acerca de la futura Web</a>
                </li>
            </ul>
        </section>
    </footer>
</body>
</html>